.general {
	display: flex;
	height: 100%;
	text-align: center;
	background: #fafaf8;
}

#mapid {
    height: 600px;
	width: 1000px;
    border: 1px solid #ccc;
	font-family: Arial, sans-serif;
	justify-content: center;
	margin-bottom: 60px;
	margin-left: 60px;
}

.leaflet-container {
    background: #fff;
	font-family: Arial, sans-serif;
}

.title {
	margin-top: 30px;
}

.left {
  display: flex;
  width: 1090px;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 28px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: flex-start;
  margin-top: 110px;
  margin-bottom: 20px;
  gap: 35px;
}

.right.layers {
    display:flex;
    align-items: top;
    text-align: left;
    
}

.right.city-search {
    align-items: top;
    text-align: left;
    
}

 .right.province-search {
    display:flex;
    align-items: top;
    text-align: left;
}

 .right.center{
    display: flex;
    align-items: left;
}
